.vscode

Cantera_lib
dummy_python

Tests/*/*.png
Tests/*/*.py
Tests/*/mainProgram
Tests/*/*.log
Tests/*/*.dat
Tests/*/outputs/*

ORCh/cppflow
ORCh/*/*.o
ORCh/emst/*.mod
ORCh/exe/mainProgram

Cantera/build
Cantera/.sconf_temp
Cantera/config.log
Cantera/.sconsign.dblite
Cantera/include/cantera/base
Cantera/include/cantera/ext/fmt
Cantera/interfaces/cython/cantera/_cantera.h
Cantera/src/pch/system.h.gch
Cantera/site_scons
